@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

body {
    background-color: #000;
    color: #00ff00;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    cursor: url('https://cur.cursors-4u.net/user/use-4/use394.cur'), auto; /* Özel bir mouse imleci */
}

.container {
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}

.input-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
}

input, select {
    width: 100%;
    padding: 6px;
    border: 2px solid #00ff00;
    border-radius: 5px;
    background-color: #222;
    color: #00ff00;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #00ff00;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #007700;
}

.card-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-icons input[type="radio"] {
    display: none;
}

.card-icons label {
    cursor: pointer;
}

.card-icons img {
    width: 48px;
    height: auto;
    transition: transform 0.3s ease;
}

.card-icons input[type="radio"]:checked + label img {
    transform: scale(1.2);
}
